---
export type SectionItem = {
    id: string;
    active: boolean;
    url: string;
    name: string;
    contentType: "video" | "article"
}

export interface Section {
    id: string;
    title: string;
    subTitle?: string;
    items: SectionItem[]
}

export interface Props {
	sections: Section[],
    currentSectionItemId: string;
}

const { sections, currentSectionItemId } = Astro.props;
const currentSectionIndex = sections.findIndex((section) => section.items.find((item) => item.id === currentSectionItemId))

---
<div>
    {sections.map((section) => (
        <div style="margin-bottom: 12px">
            <div>{section.title}</div>
            <>
                {section.subTitle && <div class="text-xs">{section.subTitle}</div>}
                <div class="ml-4 p-1">
                    {section.items.map((item) => (
                        <div class={`p-1 flex ${currentSectionItemId === item.id ? 'bg-gray-200' : ''} ${item.active ? 'hover:bg-gray-200' : 'opacity-50'}`}>
                            { item.active? 
                                <a class="w-full" href={item.url}>{item.name}</a> :
                                <div class="w-full">{item.name}</div>
                            }               
                        </div>
                        
                    ))}    
                </div>
            </>
        </div>
       
      ))}
</div>

